img[src~="thumbnail"] {
    width:150px;
    height:100px;
 }

 .circular_image{
    float:left;
    margin-left:125px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow:hidden; 
    background-color: blue;}